@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

html { font-family: 'Poppins', sans-serif; font-size: 3.5vw; font-weight: normal; line-height: 1.5; }

@media (min-width: 420px) { html { font-size: 15px; } }

.container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: start; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 100%; height: 100vh; color: #fff; background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 200, 0.4)), to(rgba(0, 0, 200, 0))); background: linear-gradient(0deg, rgba(0, 0, 200, 0.4), rgba(0, 0, 200, 0)); }

.card { width: 95%; height: auto; max-width: 400px; min-height: 30rem; border: 0.3rem solid #ff00b1; border-radius: 1rem; padding: 1.5rem; background-color: #000; background-image: linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px); background-size: 20px 20px, 20px 20px, 20px 20px, 20px 20px; -webkit-box-shadow: 0.5rem 0.5rem 2.4rem 0rem rgba(0, 0, 0, 0.2); box-shadow: 0.5rem 0.5rem 2.4rem 0rem rgba(0, 0, 0, 0.2); -webkit-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-transition: -webkit-transform 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out; transition: -webkit-transform 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out; transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out; transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out; }

@media (max-width: 360px) { .card { padding: 0.5rem; } }

.card-header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: start; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: 1rem 0; -webkit-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }

.card-header--avatar { position: relative; overflow: hidden; width: 5rem; height: 5rem; border-radius: 50%; }

.card-header--avatar::after { content: ''; display: block; padding-bottom: 100%; }

.card-header--avatar img { position: absolute; top: 0; left: 0; width: 100%; }

.card-header--info { margin-left: 0.5em; }

.card-header--info .name { font-size: 1.5em; font-weight: 600; }

.card-body--title { font-size: 2.2em; font-weight: 600; text-align: center; text-transform: uppercase; -webkit-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }

.card-body--title span:nth-child(2) { color: #ff00b1; }

.card-body--chart { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: start; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-top: 2rem; -webkit-transform: translateZ(0.2rem); transform: translateZ(0.2rem); -webkit-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-transition: -webkit-transform 0.5s ease-in-out; transition: -webkit-transform 0.5s ease-in-out; transition: transform 0.5s ease-in-out; transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out; }

.card-body--chart .bar { position: relative; width: 15px; height: 1px; margin: 6px; -webkit-transform: translateX(-7.5px) rotateX(-90deg) rotateY(-45deg); transform: translateX(-7.5px) rotateX(-90deg) rotateY(-45deg); -webkit-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-transform-origin: 100% 100%; transform-origin: 100% 100%; will-change: height; -webkit-transition: height 0.5s ease-in-out, margin 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out; transition: height 0.5s ease-in-out, margin 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out; transition: height 0.5s ease-in-out, margin 0.5s ease-in-out, transform 0.5s ease-in-out; transition: height 0.5s ease-in-out, margin 0.5s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out; background: -webkit-gradient(linear, left bottom, left top, from(#edafff), to(#fff)); background: linear-gradient(to top, #edafff, #fff); }

.card-body--chart .bar:after { display: block; content: ''; width: 15px; height: 100%; position: absolute; top: 0; right: -15px; -webkit-transform: rotateY(90deg); transform: rotateY(90deg); -webkit-transform-origin: 0% 50%; transform-origin: 0% 50%; background: -webkit-gradient(linear, left top, left bottom, from(#cd00ff), to(#efafff)); background: linear-gradient(to bottom, #cd00ff, #efafff); width: 15px; }

.card-body--chart .bar:before { display: block; content: ''; width: 15px; height: 15px; position: absolute; top: -15px; left: 0; background-color: #fff; -webkit-transform: rotateX(90deg); transform: rotateX(90deg); -webkit-transform-origin: 0% 100%; transform-origin: 0% 100%; text-align: center; font-size: 8px; line-height: 14px; padding: 0; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

.card-body--chart .bar span { position: absolute; -webkit-transform: rotateZ(-90deg) translateX(-100%); transform: rotateZ(-90deg) translateX(-100%); border-radius: 2px; -webkit-transform-origin: 0% 100%; transform-origin: 0% 100%; bottom: calc(100% - 5px); white-space: nowrap; text-align: right; left: 15px; color: #ff00b1; font-size: 10px; opacity: 0; -webkit-transition: opacity 0.5s ease-in-out; transition: opacity 0.5s ease-in-out; }

.card-body--info { -webkit-transition: opacity 0.5s ease-in-out; transition: opacity 0.5s ease-in-out; }

.card-body .info-list { list-style: none; margin-top: 2rem; padding-left: 2rem; font-size: 1rem; }

@media (max-width: 360px) { .card-body .info-list { padding-left: 0; } }

.card-body .info-list--item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: start; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: start; margin-bottom: 0.5em; color: #fff; width: -webkit-max-content; width: -moz-max-content; width: max-content; }

.card-body .info-list--item:hover { color: #ff00b1; }

.card-body .info-list--item .icon { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: start; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 2rem; height: auto; margin-top: 0.2em; }

.card-body .info-list--item .icon .fa-mobile { font-size: 1.2em; }

.card-body .info-list--item a { color: inherit; -webkit-transition: inherit; transition: inherit; text-decoration: none; }

.card-footer { padding-top: 2rem; font-size: 0.8rem; text-align: center; color: #eee; }

.card.active { -webkit-transform: rotateX(60deg) translateY(15rem); transform: rotateX(60deg) translateY(15rem); -webkit-box-shadow: 0rem 3rem 4rem 0rem rgba(0, 0, 0, 0.75); box-shadow: 0rem 3rem 4rem 0rem rgba(0, 0, 0, 0.75); }

.card.active .card-header { opacity: 0; }

.card.active .card-body--title { -webkit-transform: translateY(-150%); transform: translateY(-150%); opacity: 0.5; }

.card.active .card-body--chart { -webkit-transform: translateZ(40px) translatey(50px); transform: translateZ(40px) translatey(50px); }

.card.active .card-body--chart .bar { -webkit-transform: translateX(-7.5px) rotateX(-90deg) rotateY(-25deg); transform: translateX(-7.5px) rotateX(-90deg) rotateY(-25deg); }

.card.active .card-body--chart .bar span { opacity: 1; -webkit-transition-delay: 0.3s; transition-delay: 0.3s; }

.card.active .card-body--chart .bar-1 { height: 220px; -webkit-transition-delay: 0.08s; transition-delay: 0.08s; margin-top: -220px; }

.card.active .card-body--chart .bar-2 { height: 170px; -webkit-transition-delay: 0.16s; transition-delay: 0.16s; margin-top: -170px; }

.card.active .card-body--chart .bar-3 { height: 150px; -webkit-transition-delay: 0.24s; transition-delay: 0.24s; margin-top: -150px; }

.card.active .card-body--chart .bar-4 { height: 140px; -webkit-transition-delay: 0.32s; transition-delay: 0.32s; margin-top: -140px; }

.card.active .card-body--chart .bar-5 { height: 100px; -webkit-transition-delay: 0.4s; transition-delay: 0.4s; margin-top: -100px; }

.card.active .card-body--chart .bar-6 { height: 130px; -webkit-transition-delay: 0.48s; transition-delay: 0.48s; margin-top: -130px; }

.card.active .card-body--chart .bar-7 { height: 85px; -webkit-transition-delay: 0.56s; transition-delay: 0.56s; margin-top: -85px; }

.card.active .card-body--chart .bar::before { background-color: #efafff; }

.card.active .card-body--info { opacity: 0.8; }
